
#extensions{
  position: fixed;
  bottom: 1em;
  margin-right: 0 !important;
  padding: 10px 10px 10px 10px !important;
  max-height: calc(100% - 5em);
  overflow-y: auto;
  z-index: 51;
  background-color: var(--panel-background-fill);
  border-radius: var(--radius-lg);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color-primary);
  transition: 0.25s ;
}


#ext_toggle {
  position: fixed !important;
  bottom: 5px;
  right: 5px;
  z-index: 52; 
  width: min-content; 
}